header {
    background: #0b135d;

    .logo {
        font-weight: bold;
        font-size: 20px;
    }

    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: 1em;
                    font-size: 16px;

                    &:hover {
                        background: #362F5C;
                    }
                }
            }
        }
    }
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: #F8B11E;
    }

    .gpc{
        font-weight: bold;
        font-size: 22px;
    }
}