h1{
    text-align: center;
    font-weight: bold;
    padding: 20px;
    color: #4D5656;
}

.envs{
    margin-left: 80px;
    margin-top: 50px;
    width: 90%;
}

h2{
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 5px;
    background-color: #17202A;
}

.table-scroll thead {
    display: table;
    table-layout: fixed;
}

.table-scroll tbody {
    max-height: 450px;
    overflow-y: auto;
    display: block;
    width: 100%;
    table-layout: fixed;
}

.table-scroll tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}


thead{
    color: white;
    font-weight: bold;
  //  background-color: #0b135d;
  background-color: #1C2833;
}

hr{
    background-color: #17202A;
}


.hrclass{
    margin-left: 20px;
    margin-right: 20px;
}

