<header>
</header>
<body class="container-fluid" class="bodyclass">
  <div class="container-fluid nodir">
    <div #alertnodir class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlertnodir()">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong><b>{{this.errmsg}}</b></strong>
      </div>
    </div>
  <div class="container-fluid">
  <div class="row justify-content-md-left"> 
  <div class="col-3 fildir">

  <table mdbTable mdbTableScroll  maxHeight="500" bordered="true"  striped="true"  hover="true"  small="true" class="table-scroll">
      <caption>Showing {{this.files.length}} Items</caption>
      <thead>
          <tr>
            <th scope="col">
                <button class="upbtn" (click)="up()"><img src="./assets/images/back.png"/></button>
                <input type="text" [(ngModel)]="this.path" (keydown)="onKeydown($event)" class="pathtext" id="pathbox" (click)="select()"> 
            </th>
          </tr>
        </thead>
      <tbody>
        <tr *ngFor="let file of files" (click)="selfol(file)" class="pointer">
          <td>
            <img [hidden]="imgflag" [src]="file.IsDirectory==true ? './assets/images/folder.png' : './assets/images/file.png'"/>
            {{file.Name}}
          </td>
        </tr>
      </tbody>
    </table>
    <div #alert class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>File <b>"{{logfile}}"</b> added to the Logger!</strong>
      </div>
      <div #alertfail class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" aria-label="Close" (click)="closeAlertfail()">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Your Log seems to have failures or vulnerabilities!</strong>
        </div>
        <div #alertwarn class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" aria-label="Close" (click)="closeAlertwarn()">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Your Log seems to have noticable Warnings!</strong>
          </div>
  </div>
  <div class="col-8"> 
 <div class="form-group purple-border" #content> 
    <textarea  id="exampleFormControlTextarea4" rows="26" placeholder="Your Logs Flow Here!" readonly [(ngModel)]="Content" [class]="ErrCount > 0 ? 'redclass' : 'blackclass'"></textarea>
 </div> 
  <div  id="funcbtns" >
       <button type="button" mdbBtn color="danger" mdbTooltip="Clears the Logs & Resets all the counters" placement="top" mdbWavesEffect (click)="basicModal.show()">Clear Log</button> 
       <button type="button" mdbBtn color="primary" mdbTooltip="Set a Custom String for its Count" placement="top" mdbWavesEffect (click)="cusfilfun()">Custom Filter</button>
   </div>
     <!--Counter Components-->
     <div  id="counterbtn">
       <div id="err" class="container-fluid">
         <div>
           <h4><mdb-badge color="red">Errors</mdb-badge></h4>
         </div>
         <div class="countere">
           <ngx-counter size="medium" theme="red" [(ngModel)]="ErrCount" limit=0>></ngx-counter>
         </div>
         <div class="container switchere">
            <ui-switch size="small" color="red" [(ngModel)]="enableerr"></ui-switch>
          </div>
       </div>
       <div id="warn" class="container-fluid">
           <div>
             <h4><mdb-badge color="orange">Warnings</mdb-badge></h4>
           </div>
           <div class="counterw">
             <ngx-counter size="medium" theme="gold" bgcolor="#F5F5DC" [(ngModel)]="WarnCount" limit=0></ngx-counter>
           </div>
           <div class="container switcherw">
              <ui-switch (change)="warnswitch($event)" size="small" color="yellow" [(ngModel)]="enablewarn"></ui-switch>
            </div>
       </div>
       <div id="cus" class="container-fluid">
           <div>
             <h4><mdb-badge color="blue">{{Custom}}</mdb-badge></h4>
           </div>
           <div class="counterc">
             <ngx-counter size="medium" theme="blue" [(ngModel)]="CustCount" limit=0></ngx-counter>
           </div>
           <div class="container switcherc">
              <ui-switch (change)="custswitch($event)" size="small" color="blue" [(ngModel)]="enablecust"></ui-switch>
            </div>
       </div>
     </div>
</div>
</div>
</div>
<!--Modal-Clear-Log -->
<div mdbModal #basicModal="mdbModal" class="modal fade top" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Clear Logs & Filters?</h4>
      </div>
      <div class="modal-body">
        All Logs Will be cleared and the Filers will be Reset!
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="clearlog()" (click)="basicModal.hide()">Yes</button>
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Cancel</button>
      </div>
    </div>
  </div>
</div>
<!--Modal-Clear-Log-->
</body>

