.purple-border textarea {
    border: 1px solid #00BFFF;
}
.purple-border .form-control:focus {
    border: 1px solid #00BFFF;
    box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}

.green-border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}

#exampleFormControlTextarea4{
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
   // color: black;
    width: 113%;
    background-color: white;
    
}

#funcbtns {
margin-left: 400px;
padding-top: 20px;
}

#counterbtn{
   margin-left: 100px;
   padding-top: 30px;
}

.switchere{
   margin-left: 2px;
    padding-top: 8px;
 }
 .switcherw{
    margin-left: 13px;
     padding-top: 8px;
  }
  .switcherc{
    margin-left: 9px;
     padding-top: 8px;
  }

.navbar-brand {
    font-weight: bold;
    justify-self: right;
} 

#err, #warn, #cus{
    display: inline-block;
    width:100px;
    height:100px;
    margin-left: 150px;
    margin-right:50px;  
 }


 .page-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}

.footer-copyright{
    font-weight: bold;
}

.div-left{
    float:left;
    
}
.div-right{
    float:right;
    
}


#pathlabel{
    width: 370px;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
    word-wrap: break-word;
    white-space: normal;
}

.pointer{
    cursor: pointer;
}

.upbtn{
   margin-right: 10px;
}

.fildir{
    margin-left: none;
}

::placeholder {
    color: #C0C0C0;
    font-size: 50px;
    text-align: center;
    padding: 180px;
    font-weight: bold;
  }

  .table-scroll thead {
    display: table;
 //   width: 100%;
    table-layout: fixed;
}

.table-scroll tbody {
    max-height: 450px;
    overflow-y: auto;
    display: block;
    width: 100%;
    table-layout: fixed;
}

.table-scroll tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.pathtext{
    width: 86%;
}

.nodir{
    margin-top: 5px;
}

.mark-style{
    background-color: #00BFFF;
}

.countere{
    margin-left: 8px;
}
.counterw{
    margin-left: 20px;
}
.counterc{
    margin-left: 15px;
}
 
thead{
    font-weight: bold;
    background-color: #17202A;
}

.redclass{
    color: red;
}

.blackclass{
    color: black;
}